[tools]
"cargo:cargo-tarpaulin" = "0.27.3"
"cargo:git-cliff" = "1.4.0"
"cargo:cargo-release" = "0.25.4"

[tasks.changelog]
description = "Generate changelog"
run = "git cliff -o CHANGELOG.md"

[tasks.coverage]
description = "Run tests with coverage"
run = [
  "cargo clippy -- -D warnings",
  "cargo fmt -- --check",
  "cargo tarpaulin --lib --tests"
]

[tasks."recordings input"]
description = "Create recordings with vhs"
run = """
#!/usr/bin/env bash
# Create VHS recordings of all tape files in the assets directory
for i in $(ls -1 assets/*.tape); do
    vhs $i
done
"""

[tasks."recordings themes"]
description = "Create theme recordings with vhs"
run = """
#!/usr/bin/env bash
# Create VHS recordings of all tape files in the themes directory
for i in $(ls -1 assets/themes/*.tape); do
    vhs $i
done
"""

[tasks.tests]
description = "Run tests"
run = [
  "cargo clippy -- -D warnings",
  "cargo fmt -- --check",
  "cargo test --lib --tests"
]

[tasks.release]
run = 'cargo release'
