[package]
name = "demand"
version = "1.2.4"
edition = "2021"
description = "A CLI prompt library"
license = "MIT"
repository = "https://github.com/jdx/demand"
readme = "README.md"
keywords = ["cli", "prompt", "console"]

[dependencies]
console = "0.15.8"
once_cell = "1.19.0"
termcolor = "1.1"

[dev-dependencies]
ctor = "0.2.8"
indoc = "2.0.5"

[package.metadata.release]
allow-branch = ["main"]
sign-tag = true
sign-commit = true
pre-release-hook = ["git", "cliff", "-o", "CHANGELOG.md", "--tag", "{{version}}" ]
